body {
  font-family: 'Roboto';
}

#createacc {
  text-align: center;
}

/* Logo and Profile Pics */
#logo, #profilePic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
}

/*Library Profile Pic */
#cornerPic {
  max-width: 75px;
  max-height: 75px;
  position: fixed;
}

/* Buttons */
.modalbuttons, #loginButton, #signUpButton, #changePass, #logout, #create, #upload, #create2, #upload2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  border-radius: 5px;
}

/* Input Text */
.input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

/* Sign Up and Cancel Links */
#signupcancel {
  text-align: center;
  color: blue;
  text-decoration: underline;
}

/* Sign Up Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 50%;
    text-align: center;
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

#header {
    width: 100%;
}
#corner {
  float: left;
}
#libheader, #uploadHeader, #signinheader {
  text-align: center;
}
#emptylibrary {
  margin-top: 5em;
  text-align: center;
}
.botbutton {
  display: inline-block;
  margin-bottom: 15px;
}
#frontbuttons {
  text-align: center;
}

#preview {
  width: 400px;
  height: 250px;
}
.meme {
  width: 400px;
  height: 250px;
  max-height: 250px;
  max-width: 400px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}
.image {
  max-height: inherit;
  max-width: inherit;
}
.dllink {
  float: right;
}
